[2021-03-17 16:49] #556 closed

[2021-03-19 21:15] andriiunitq opened #562 "Pagination for Users/Groups"
### I'm submitting a
  - [ ] feature request

### Background info

I want to build pagination for Users/Groups on the UI, so in other words, I want to get any page, based on the page number.
However, according to my understanding, the library provides wrappers i.e. users/groups - UserList, GroupList and these classes under the hood are using a custom implementation of Iterator ( called Page iterat

[2021-03-19 21:46] arvindkrishnakumar-okta commented on #562
@andriiunitq Thanks for your question!

Pagination is not based on 'page number' but is tied to cursors that are opaque to the caller (Ref: https://developer.okta.com/docs/reference/api-overview/#pagination).

A potential way to go about your use case is to follow the URLs in `LinkHeader` (store the cursors) and use them in the search query parameters `before`, `after` and `limit` to fetch the 'pa

[2021-03-19 23:32] andriiunitq commented on #562
@arvindkrishnakumar-okta yes, I need to use LinkHeader directly and it also means that to be able to obtain for example the third page and I need to obtain 2 cursors ( for the 1st and 2nd pages) if I understood correctly?

[2021-03-20 03:37] bdemers commented on #562
Answering mobile, so forgive any errors.

You should be able to manually page using this technique:

https://github.com/okta/okta-sdk-java#call-other-api-endpoints

You WILL need to “.limit()” the stream to prevent retrieval of the next page.

Then call ‘.getProperty(“nextPage”)’ on the collection resource.

This may require some casting (if so, that is something we could improve)

Keep us posted

[2021-03-22 15:06] andriiunitq commented on #562
Hi @bdemers

yes thank your help and support, it works as you described and it requires some casting.

[2021-03-22 15:44] andriiunitq opened #563 "Get all assigned group to application with searching"
I want to get all groups assigned to some application with filtering/search, below I've described next approaches which I tried:

- **Get assigned group for application**
 _/api/v1/apps/{app_id}/groups?expand=group&limit=10&search=profile.description eq "test"_

I've added the **?expand=group** param to be able to see the group-related info, however, the **search** param won't be applied because t

[2021-03-22 15:54] arvindkrishnakumar-okta commented on #563
@andriiunitq Thanks for posting!

Do you mean it does not work as expected with a simple `curl` or with the `SDK` or both?

[2021-03-22 16:05] andriiunitq commented on #563
@arvindkrishnakumar-okta It doesn't work with curl and SDK, also I've tried to use the same requests via Postman and still not succeed.
So, I suppose maybe it's an issue with Okta API itself or of course wrong using from my side:)

[2021-03-22 16:07] arvindkrishnakumar-okta commented on #563
I'll look at potential ways to achieve this and keep you posted in a bit.

[2021-03-22 18:05] nmarshall23 commented on #562
@andriiunitq would you mind sharing your code? I've been trying to do something simpler on the` /api/v1/users` endpoint.

The default paging behavior of `UserList` takes too long to load.

[2021-03-22 19:02] bdemers commented on #562
Hey @nmarshall23

This is untested, but It _should_ provide more detail than my previous [mobile] message.

You will need to use the "Call other endpoints" technique to request each page.

So for the user endpoint, it _should_ look something like this:

[code]

This would get you the first page, but when you iterate over the collection you would need to limit the stream, for example:

[code]

To g

[2021-03-22 21:06] andriiunitq commented on #563
@arvindkrishnakumar-okta

thank you, I've added the question to the okta forum, but no response yet.
https://devforum.okta.com/t/get-all-assigned-group-to-application-with-searching/13458

[2021-03-22 21:48] arvindkrishnakumar-okta commented on #563
@andriiunitq Thanks, I've asked our internal API teams and it looks like a bug. I've created an internal ticket for the concerned team.

[2021-03-25 21:54] youngm opened #566 "Cannot figure out how to create an instance of JsonWebKeyList when creating an OpenIDConnectApplication using private_key_jwt."
### I'm submitting a
  - [?] bug report
  - [?] feature request

### Background info

I'm attempting to create a OpenIDConnectApplication using private_key_jwt.  I cannot figure out how to supply an initial JsonWebKeyList to the OpenIdConnectApplicationSettingsClientKeys.  I'm not referring to creating the keys,  Just how to put the keys into a JsonWebKeyList for the Settings object to consume.

#

[2021-03-25 22:34] bdemers commented on #566
Hi @youngm!

Thanks for reaching out!  I took a quick look, and it looks like that's an issue with our SDK.

You can work around the issue in the short term by calling the `put` method on the `OpenIdConnectApplicationSettingsClient` that you created, so something like this:

[code]

Where each item in the list could be a map, containing your JWK properties, i.e.:

[code]

We will streamline this i

[2021-03-27 01:46] andriiunitq commented on #562
Hi @bdemers
Thank you for your help and support, the obtaining the Users/Groups worked as you described.
`   final GroupList groupList = oktaClient.http()
        .setQueryParameters(getQueryParams(pageable))
        .get(apiPath, GroupList.class);`

However, for obtain the next page, I've used casting to another class
`(String) ((DefaultGroupList) groupList).getProperty("nextPage");`

[2021-03-29 00:47] bdemers commented on #562
@arvindkrishnakumar-okta can you stick this on the backlog?  I think exposing something like a `getNextPageUrl()` method  in the `CollectionResource` interface should do the trick. Then manual paging should look something like:

[code]

[2021-03-29 01:27] arvindkrishnakumar-okta commented on #562
@bdemers sure will do.

[2021-03-29 01:37] arvindkrishnakumar-okta commented on #562
Internal Ref: OKTA-382495

[2021-03-30 19:42] arvindkrishnakumar-okta commented on #504
Fixed in v4.0.0

[2021-03-30 19:42] #504 closed

[2021-03-30 19:43] arvindkrishnakumar-okta commented on #462
Fixed in v4.0.0

[2021-03-30 19:43] #462 closed

[2021-03-30 19:44] arvindkrishnakumar-okta commented on #566
Fixed in v4.0.0

[2021-03-30 19:44] #566 closed

[2021-04-02 17:35] arvindkrishnakumar-okta commented on #563
@andriiunitq On a closer look, I see that the search will NOT work with `_embedded` object and this is working as expected and is reflected in the documentation:

<img width="850" alt="image" src="https://user-images.githubusercontent.com/61501885/113439299-2680f200-939f-11eb-96e5-052d2db92081.png">

[2021-04-08 09:07] gpradeepkrishna opened #574 "Enable option to supply `RequestExecutorFactory` via `ClientBuilder` interface"
### I'm submitting a
  - [ ] bug report
  - [x] feature request

### Background info

Enable option to supply `RequestExecutorFactory` as part of `ClientBuilder` interface. Current implementation of `ClientBuilder` picks up `RequestExecutorFactory` via java service loader mechanism. This makes it hard to integrate with beans generated by spring boot. I would like to supply instance of `RequestExec

[2021-04-08 09:15] gpradeepkrishna opened #575 "Enable integration with open tracing & micrometer libraries"
### I'm submitting a
  - [ ] bug report
  - [x] feature request

### Background info

Enable support for Integration with open tracing & micrometer libraries to enable visibility.

### Expected behavior

Some of the goals of this integration
 * enable spans for outgoing calls by SDK to Okta host.
 * enable metrics for datastore (caching) as well as outgoing calls.

### What went wrong?

Without a

[2021-04-08 11:39] VitaliiTytarenko-okta commented on #575
@gpradeepkrishna
Thanks for bringing this to our attention! I've added an item to our backlog for prioritization (internal ref: `OKTA-385625`). Our Java devs will review it further. We'll comment here when there is additional information to share.
Thanks for using Okta!

[2021-04-08 12:28] VitaliiTytarenko-okta commented on #574
@gpradeepkrishna
Thank you for your feature request!
We will consider this and will implement it in the near future according to the prioritization.
Internal ref: `OKTA-385628`
Thanks for using Okta!

[2021-04-13 23:10] gssureshthapa opened #576 "Enable option to supply kid as part of ClientBuilder interface"
### I'm submitting a
  - [ ] bug report
  - [x] feature request

### Background info

Enable option to support Key ID (kid) as part of ClientBuilder interface.

### SDK Version
4.0.0

[2021-04-13 23:15] arvindkrishnakumar-okta commented on #576
@gssureshthapa Thanks! We'll get that added in `ClientBuilder`.

[2021-04-19 17:20] VitaliiTytarenko-okta commented on #239
The new method `isReady` was added to the DataStore.
see: https://github.com/okta/okta-sdk-java/blob/e02a77d891fffa7e44e33da44263654a765e28eb/api/src/main/java/com/okta/sdk/ds/DataStore.java#L124

[2021-04-19 17:20] #239 closed

[2021-04-27 09:50] adipetre opened #578 "Enable access to response headers ( i.e. rate limit headers )"
### I'm submitting a
  - [ ] bug report
  - [x] feature request

### Background info

We have a use case in which we need to know when we're approaching our organisation's rate limits for user logins / user creation, etc. This information is returned in the headers X-Rate-Limit-Limit, X-Rate-Limit-Remaining, X-Rate-Limit-Reset for most api calls.
Using either okta-sdk-java or okta-auth-java sdk, a

[2021-04-27 10:04] sergiishamrai-okta commented on #578
Thanks for the request @adipetre
I'm going to create an internal task for our team. Please, follow this issue for updates.

[2021-04-27 10:14] sergiishamrai-okta commented on #578
Internal ref: OKTA-390428

[2021-04-29 13:24] oanam opened #579 "DefaultOAuth2Client is missing properties"
### I'm submitting a
  - [x] bug report
  - [ ] feature request

### Background info
Auto-generated class [DefaultOAuth2Client](https://developer.okta.com/okta-sdk-java/development/apidocs/com/okta/sdk/impl/resource/application/DefaultOAuth2Client.html) does not include all the properties documented in the API:
https://developer.okta.com/docs/reference/api/oauth-clients/#client-application-propert

[2021-04-29 13:48] shuowu commented on #579
@oanam Thanks for reporting the issue!

Internal Ref: OKTA-391223

[2021-04-29 14:09] sergiishamrai-okta commented on #579
@oanam Thanks for your question!

The class that you asking about is a response-type for [List Client Resources for a User](https://developer.okta.com/docs/reference/api/users/#list-client-resources-for-a-user).

It's not implementing [Application](https://okta.github.io/okta-sdk-java/development/apidocs/com/okta/sdk/resource/application/Application.html) interface so it could not be used as an ap

[2021-04-29 14:35] oanam commented on #579
Hi,

We're trying to call these APIs in our application:
https://developer.okta.com/docs/reference/api/oauth-clients/

More specifically:

- GET by id: https://developer.okta.com/docs/reference/api/oauth-clients/#get-an-oauth-client
- PUT: https://developer.okta.com/docs/reference/api/oauth-clients/#update-a-client-application

I was unable to find any matching classes in the SDK.

[2021-04-29 14:52] sergiishamrai-okta commented on #579
Thanks for the details @oanam.
Please follow this issue for updates.

[2021-04-30 12:42] hcoa opened #580 "get methods which accept userId do not url-encode it when sending request"
### I'm submitting a
  - [X] bug report
  - [ ] feature request

### Background info

Trying to get existing user by email using `client.getUser`.

### Expected behavior

`client.getUser` should successfully return a user object for existing user

### What went wrong?

For some emails such `username#@domain.com` (with hash symbol "#"). `client.getUser` returns "user not found" error (when the user

[2021-04-30 13:13] sergiishamrai-okta commented on #580
@hcoa  Thanks for reporting the issue!

Internal Ref: [OKTA-391589](https://oktainc.atlassian.net/browse/OKTA-391589)

[2021-05-05 16:46] oanam opened #581 "Getting "malformed sequence in RSA private key" exception when trying to read a resource using PRIVATE_KEY authorization"
:information_source: **If you have a question**, please post it on the [Okta Developer Forum](https://devforum.okta.com) instead. Issues in this repository are reserved for bug reports and feature requests only.

### I'm submitting a
  - [x] bug report
  - [ ] feature request

### Background info
We are getting a "malformed sequence in RSA private key" exception when trying to read a resource usin

[2021-05-05 16:51] arvindkrishnakumar-okta commented on #581
Thanks for reporting this!

Will try to reproduce and fix.

[2021-05-10 13:33] oanam commented on #576
Hi,
My team is also very interested in this feature. Any idea when we can expect to see this in the SDK?
Regards,
Oana

[2021-05-11 12:02] VitaliiTytarenko-okta commented on #576
Hi, @oanam!
I'm working on this feature now. Hope it will available in the next release.
Thanks for using Okta!

[2021-05-12 15:08] #563 closed

[2021-05-12 15:20] VitaliiTytarenko-okta commented on #581
@oanam
The fix has been merged and will be introduced in the next release.
Thanks for using Okta!

[2021-05-12 15:20] #581 closed

[2021-05-13 15:31] oanam commented on #581
This is excellent news, @VitaliiTytarenko-okta !
Thank you!
We're looking forward to the next release.

[2021-05-13 22:41] mattdrees commented on #578
We'd be interested in some way of tracking these headers, as well.
As-is, I don't think the okta java sdk allows us to follow the best practice described here:
https://developer.okta.com/docs/reference/rl-best-practices/#check-your-rate-limits-with-okta-s-rate-limit-headers

[2021-05-14 00:13] bdemers commented on #578
@mattdrees

Out of the box, the SDK has configured retries based these headers.

If you need more control over this, you can configure retry options:
https://github.com/okta/okta-sdk-java#connection-retry--rate-limiting

The TL;DR is if you have a batch process, you can increase the timeout/retry count. If you are building an end user-facing app you want to keep them shorter.

If an exception is t

[2021-05-15 23:24] mattdrees commented on #578
Hi Brian, thanks for the note. The auto-retry feature is pretty neat; I don't think I've seen that in any sdks I've worked with before. Good docs, too. (Kudos!)

But I don't think that's what adipetre was asking for, and it's not what I'm needing either.
The retry feature is reactive. We're both looking for a way to be proactive.

In my case, I've been burned by the org rate limit several times no

[2021-05-17 02:26] bdemers commented on #578
Logging the rate limit header could be a quick win 🤔

Returning them as part of the response would be much more difficult. (The actual response could be pulled from cache, and some objects are returned as a list and individual so there is no _natural_ place to put a “getHeaders()” method on a non-error response ).

Let’s back up for a bit, other than alerting what action would your app take once y

[2021-05-17 14:34] mattdrees commented on #578
True, and honesty in my case I don't really want to be responsible for collecting and logging headers. I'd rather the sdk just log them. I can't speak on behalf of the original poster here, but I think there's a good chance logging would work well for them too.

Other than alerting, I'm not sure what an app would reasonably do with rate limit info. Possibly it could start queueing work for later,

[2021-05-17 14:53] bdemers commented on #578
@mattdrees very helpful, thank you for getting back to us!

@adipetre (if you are still watching this issue) any thoughts on this?

[2021-05-19 12:35] sergiishamrai-okta commented on #579
Hello @oanam,
I've investigated your question and have some updates for you.

Clients managed through the Dynamic Client Registration API are modeled as Applications in Okta and appear in the Applications section of the Admin Console.
Changes made through the API appear in the UI and vice versa. Tokens issued by these clients follow the rules for access tokens and ID tokens.
Apps created on the Ap

[2021-05-19 14:47] mimkorn opened #587 "Methods using filter throw Invalid Search Criteria"
### I'm submitting a
  - [x] bug report
  - [ ] feature request

### Background info

I am trying to use the method
`client.listApplications(null, "user.id+eq+someid", null, null)`

### Expected behavior

get returned applications

### What went wrong?

I always get
`com.okta.sdk.resource.ResourceException: HTTP 400, Okta E0000031 (Invalid search criteria.),`

### Steps to reproduce

I used bare h

[2021-05-19 15:09] sergiishamrai-okta commented on #587
Hello @mimkorn,
Thanks for your question!

Can you try to wrap with quotes your `user.id` param in the filter string?
Something like:

`ApplicationList applications = client.listApplications(null, "user.id eq \"hardcodeduserid\"", null, null);`

More info you could grab [here](https://developer.okta.com/docs/reference/api/apps/#list-applications)

[2021-05-20 07:39] mimkorn commented on #587
It worked. Thanks. The Java SDK doesn't point to this implicitly, it's slightly awkward API, but it's understandable, there's some limits with generated SDKs.

Thanks for the pointer, I'll know better to look for more examples in the REST API docs.

[2021-05-20 07:39] #587 closed

[2021-05-20 15:14] andriiunitq opened #592 "Obtaining the list groups assigned to the application doesn't work with the "expand = group" attribute"
### I'm submitting a
  - [ ] bug report

### Background info

I want to load all groups assigned to an application, for this purpose I used the next code:

`oktaClient.getApplication(oktaAppId)
        .listGroupAssignments("", GROUP)
        .stream()
        .map({{converting part}})
        .collect(Collectors.toList());`

By default the limit of this kind of operation is 20, so during the firs

[2021-05-20 16:06] laura-rodriguez commented on #592
Hi @andriiunitq,

Thanks for reporting this issue! Our Java devs will review it soon and post updates here.

Internal Ref: https://oktainc.atlassian.net/browse/OKTA-397604

[2021-05-28 16:53] #574 closed

[2021-06-04 11:38] sergiishamrai-okta commented on #579
@oanam hope the above comments helped.
Feel free to reopen this issue if you have any further questions.

[2021-06-04 11:38] #579 closed

[2021-06-08 17:53] mattdrees commented on #578
I think this isn't strictly true, anymore; Okta released a [rate limit dashboard](https://developer.okta.com/docs/reference/rl-dashboard/) recently that might be pretty helpful.

[2021-06-10 12:42] slunker opened #593 "listGroups with filter not working"
### I'm submitting a
  - [X ] bug report

### Background info
Hello Okta Team, a call to ```Client.listGroups(null, "profile.name eq \"foo\"", null);``` fails with
[code]
It looks like there's a bug in ```com.okta.sdk.impl.client.DefaultClient``` class in method ```listGroups(String q, String filter, String expand)``` on line 593: ```if (filter != null) queryArgs.put("filter", filter);```

The cor

[2021-06-10 14:10] VitaliiTytarenko-okta commented on #593
@slunker
Thank you for reporting!
We will fix it soon and let you know.

[2021-06-16 09:48] slunker commented on #593
thanks @VitaliiTytarenko-okta

[2021-06-18 11:30] oanam commented on #579
Thank you, @sergiishamrai-okta !
Our team has already implemented the calls to the Dynamic Client Registration APIs without using the SDK, but we'll consider your recommended approach as a future refactoring.

[2021-06-22 18:01] klaushauschild1984 opened #594 "Create user without sending email"
:information_source: **If you have a question**, please post it on the [Okta Developer Forum](https://devforum.okta.com) instead. Issues in this repository are reserved for bug reports and feature requests only.

### I'm submitting a
  - [ ] bug report
  - [x] feature request

### Background info

When I create a user via Java client I am not able to pass `sendEmail=false` to the endpoint to preve

[2021-06-22 19:53] arvindkrishnakumar-okta commented on #594
@klaushauschild1984 Thanks for posting!

There are two options for you:

1)
[code]

2) Call API endpoint https://developer.okta.com/docs/reference/api/users/#activate-user using the technique described at https://github.com/okta/okta-sdk-java#call-other-api-endpoints.

Let me know if that helps!

[2021-06-23 18:21] VitaliiTytarenko-okta commented on #593
Internal ref: `OKTA-406629`

[2021-06-25 16:50] VitaliiTytarenko-okta commented on #580
@hcoa
The bug has been fixed.

[2021-06-25 16:50] #580 closed

[2021-06-28 06:51] klaushauschild1984 commented on #594
Thanks for the response.

Ok. This feature is not missing but I was not able to find it. And I needed some tries to understand the importance of providing `setActive(false)` or leaving this statement out.

[2021-06-28 06:51] #594 closed

[2021-07-05 16:42] #593 closed

[2021-07-12 11:11] VitaliiTytarenko-okta commented on #578
@adipetre @mattdrees
Please let us know if this is still relevant for you or [Rate limit dashboard](https://developer.okta.com/docs/reference/rl-dashboard/) covers all your needs.

[2021-07-12 16:55] VitaliiTytarenko-okta commented on #578
Feel free to reopen this if you have any questions.

[2021-07-12 16:55] #578 closed

[2021-07-12 17:49] VitaliiTytarenko-okta commented on #592
The bug has been fixed.

[2021-07-12 17:49] #592 closed

[2021-07-14 18:16] laura-rodriguez commented on #171
This might be no longer relevant since many updates were introduced to our spec/SDK. Closing now but feel free to reopen if this is still an issue for you.

[2021-07-14 18:16] #171 closed

[2021-07-19 17:11] #576 closed

[2021-08-14 12:23] arvindkrishnakumar-okta commented on #575
@gpradeepkrishna Thanks for posting!

Can you let us know what specific metrics are you interested in tracking?

[2021-08-16 20:26] clevelm opened #610 "OpenAPI definition contains multiple, invalid path definitions for /users/{userid}/lifecycle/expire_password endpoint"
:information_source: **If you have a question**, please post it on the [Okta Developer Forum](https://devforum.okta.com) instead. Issues in this repository are reserved for bug reports and feature requests only.

### I'm submitting a
  - [X] bug report
  - [ ] feature request

### Background info

The OpenAPI definition (okta-sdk-java/src/swagger/api.yaml) contains two path definitions for the /us

[2021-08-16 20:56] arvindkrishnakumar-okta commented on #610
@clevelm Thanks for reporting this! You're right in pointing out that query params cannot be used in URI path in Open API spec 2.0. We are aware of this issue and are working on a comprehensive spec upgrade that would be released soon. Stay tuned!

[2021-08-18 14:20] arvindkrishnakumar-okta commented on #610
Internal Ref: OKTA-418596

[2021-08-25 09:06] sanjayshrestha1 opened #617 "Writing Unit testing for sdk functions"
I wanted to perform Unit Test the function which ultimately calls the sdk of okta so how can I mock the response for those sdk methods.
If there is any link that I could refer that would be great and any response is appreciated.

[2021-08-25 09:32] sergiishamrai-okta commented on #617
Hello @sanjayshrestha1 ,
Thanks for using OKTA SDK.

One of the samples with the mocked responses for example:
[LogsTest](https://github.com/okta/okta-sdk-java/blob/master/impl/src/test/groovy/com/okta/sdk/impl/resource/log/LogsTest.groovy)

[2021-08-27 23:23] #617 closed

[2021-09-06 15:17] sanjayshrestha1 commented on #617
Hi @sergiishamrai-okta, I am trying to run the okta-sdk-java in my machine but there is no class file named DefaultClient imported which is extended from MockClient class.

[2021-09-07 09:36] evalizhangli opened #629 "Client create policy when policy type as OAUTH_AUTHORIZATION_POLICY says The request was not valid: Invalid policy type specified"
can't create OAUTH_AUTHORIZATION_POLICY type policy

### I'm submitting a
  - [x ] bug report

### What went wrong?

error say type invalid

### Steps to reproduce

create policy type as OAUTH_AUTHORIZATION_POLICY

### SDK Version
5.0.0

[2021-09-07 10:01] VitaliiTytarenko-okta commented on #629
Hi @evalizhangli,
Thanks for your report. I'll investigate the issue and get back to you with more details.

[2021-09-07 10:05] evalizhangli commented on #629
Hi @VitaliiTytarenko-okta
Sure. Thanks very much.
Also: there are another problem maybe same as the SDK' problem：
I call the API  GET {{URL}}/api/v1/policies?type=OAUTH_AUTHORIZATION_POLICY， to retrieve the policies list. there throw out the same error

[2021-09-10 06:30] sergiishamrai-okta commented on #617
Hi @sanjayshrestha1,
Can you share your pom.xml dependencies?
I assume you didn't import all required dependencies.
The prerequisites for Java SDK usage is [here](https://github.com/okta/okta-sdk-java#prerequisites)

[2021-09-10 07:36] sanjayshrestha1 commented on #617
The pom file contains the com.okta.sdk as defined in the prerequisites. I have also tried to replicate the code in java for unit test but instead of getting the mocked data from json file as mentioned in https://github.com/okta/okta-sdk-java/blob/master/impl/src/test/groovy/com/okta/sdk/impl/resource/log/LogsTest.groovy this link it is getting from the users from the specified client configured vi

[2021-09-20 19:34] ansman opened #634 "Error when calling SocialAuthToken.getTokenType"
### I'm submitting a
  - [X] bug report
  - [ ] feature request

### Background info

I'm trying to get a social auth token for a user. While reading processing the token I get an exception when calling `SocialAuthToken.getTokenType`. The error is:
[code]

I tried calling the endpoint from a terminal manually and this is what it returns:
[code]

It looks like this is a clear parsing error here as

[2021-09-20 20:39] arvindkrishnakumar-okta commented on #634
@ansman Thanks for posting!

Can you share the code snippet or the API request body that you are using?

The SDK expects the values `ACCESS` | `REFRESH` per the spec defined [here](https://github.com/okta/okta-sdk-java/blob/master/src/swagger/api.yaml#L12657-L12660).

[2021-09-20 22:22] ansman commented on #634
The code snippet is under "Steps to reproduce" in the issue and there is no request body since it's a GET request.

The enum constants seem incorrectly defined. The [API documentation at Okta](https://developer.okta.com/docs/reference/api/idps/#identity-provider-social-authentication-token-object) point you towards  the [OAuth2 Spec](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-token-exc

[2021-09-21 11:06] Artur- opened #639 "Verify example in README does not work"
### I'm submitting a
  - [X] bug report
  - [ ] feature request

### Background info

The example code in the README to verify a factor is
[code]

### Expected behavior

The code should work

### What went wrong?

The code does not send the passcode in the request.

Using
[code]
works

### SDK Version
5.0.0

[2021-09-21 11:17] Artur- opened #640 "factor.verify throws exception when passcode verification fails"
### I'm submitting a
  - [X] bug report
  - [ ] feature request

### Background info

`VerifyUserFactorResponse` has a `getFactorResult()` that can return `FactorResultEnum.SUCCESS`, `FactorResultEnum.FAILED` and more.

### Expected behavior

When passcode verification (TOTP) fails, the return value would be `FactorResultEnum.FAILED` or `REJECTED`?

### What went wrong?

The method throws

[code]

[2021-09-21 12:04] arvindkrishnakumar-okta commented on #640
@Artur- Thanks for posting.

I'll take a look at this issue.

[2021-09-21 12:07] arvindkrishnakumar-okta commented on #639
@Artur- Thanks for posting!

We will get this one fixed.

[2021-09-21 12:11] arvindkrishnakumar-okta commented on #634
Looks like we need to update the spec with the correct constants for enum https://github.com/okta/okta-sdk-java/blob/master/src/swagger/api.yaml#L12658-L12660.

[2021-09-21 12:13] arvindkrishnakumar-okta commented on #634
Internal Ref: OKTA-429925

[2021-09-21 13:02] ansman commented on #634
I'm happy to open a PR if you'd like. But I'm wondering if it should even be an enum since the format is is open ended (from the oauth spec):

[2021-09-22 13:35] Artur- opened #643 "There is no example and apparently no support for verifying factors that require a challenge"
### I'm submitting a
  - [ ] bug report
  - [x] feature request

### Background info

The API docs at https://developer.okta.com/docs/reference/api/factors/#verify-a-push-factor-challenge contains the endpoint to poll if a factor challenge has completed, e.g. when using Okta Verify.

### Expected behavior

You can do something like
[code]

### What went wrong?

There seems to be no API for polling

[2021-09-22 13:46] VitaliiTytarenko-okta commented on #643
Thank you @Artur- for the reporting. I put it on our roadmap and we will resolve it by priority. We will let you know.
Internal ref: [OKTA-430336](https://oktainc.atlassian.net/browse/OKTA-430336)

[2021-09-24 09:27] jeremieLyvoc opened #645 "GroupRule update makes POST and not PUT"
### I'm submitting a
  - [x] bug report
  - [ ] feature request

### Background info

I'm building an API gateway using the Java Okta sdk and I encountered an issue when trying to update a group rule in Okta.

### Expected behavior

On using the `.update()` function the Group Rule should update with new Expression and/or Conditions.

### What went wrong?

 Create and Delete functions work fine but

[2021-09-24 11:29] VitaliiTytarenko-okta commented on #645
Thank you @Artur- for the reporting.
We use the **POST** method only for creating new entities, **PUT** - for updates, according to the HTTP conventions.
Your exception message says that you are trying to update a GroupRule with a name that already exists. SDK won't let you do it.

Could you try next:
- create a new organization or remove all GroupRules in your current organization
- create 2 grou

[2021-09-24 11:32] VitaliiTytarenko-okta commented on #645
[OpenApi PUT method on update](https://github.com/okta/okta-management-openapi-spec/blob/master/dist/spec.yaml#L2765)

[2021-09-24 12:09] jeremieLyvoc commented on #645
Ok I didn't make any change to my code and now with the same payload it works.

I kind of lost but yes that's my bad here.

[2021-09-24 12:09] #645 closed

[2021-09-24 12:11] VitaliiTytarenko-okta commented on #645
No worries! Glad to help.

[2021-09-27 13:58] arvindkrishnakumar-okta commented on #634
Fixed in https://github.com/okta/okta-management-openapi-spec/pull/78, SDK will be updated to this spec revision soon.

[2021-09-27 13:58] #634 closed

[2021-09-29 08:16] dspasojevic opened #646 "User.listFactors can fail for some user statuses"
### I'm submitting a
  - [X] bug report
  - [ ] feature request

### Background info

When listing factors on a user retrieved via `getUser` or `listUsers`, a ResourceException is thrown if the user have been `DEPROVISIONED`.

### Expected behavior

A list of empty factors is returned.

### What went wrong?

`listFactors` throws a ResourceException:

[code]

### Steps to reproduce

This behaviour

[2021-09-29 11:17] sergiishamrai-okta commented on #646
Hi @dspasojevic,
Thanks for your question.

I've checked Factors API behavior, and I can say that the user should be active to perform the List enrolled Factors operation.
It's not a bug of the SDK.
You can play with this method via Postman. Factor API docs is [here](https://developer.okta.com/docs/reference/api/factors/)

[2021-09-29 11:22] dspasojevic commented on #646
Thanks @sergiishamrai-okta.

Is it definitely only active users that can have factors listed? E.g. it should not be called with suspended, etc. If so, that makes things easy for us, we can work around it.

I had checked the doco that you linked, but it doesn't seem to mention that the user must be active when [listing factors](https://developer.okta.com/docs/reference/api/factors/#list-enrolled-fa

[2021-09-29 11:22] #646 closed

[2021-09-29 15:40] VitaliiTytarenko-okta commented on #640
Hi @Artur-
If the verification is not successful then an exception will be thrown and no `VerifyUserFactorResponse` will be generated.
This is expected behavior and is documented here: [Verify TOTP Factor](https://developer.okta.com/docs/reference/api/factors/#verify-totp-factor)
_"If the passcode is invalid, the response is a `403 Forbidden` status code with the following error"_

For other cases

[2021-09-29 15:40] #640 closed

[2021-10-06 10:28] jeremieLyvoc opened #651 "PolicyType enum doesn't have MFA_ENROLL type"
### I'm submitting a
  - [x] bug report
  - [ ] feature request

### Background info

I'm trying to use the sdk to create all types of policies within Okta from JSON payload. But when using `PolicyBuilder` the `.setType()` function accept only `PolicyType` enum but if I open the class there is no "MFA_ENROLL" parameter to create MFA policy in Okta

[code]

### SDK Version

5.0.0

[2021-10-06 14:26] jeremieLyvoc opened #654 "Get assigned Users to a group and assigned Users & groups to App"
### I'm submitting a
  - [ ] bug report
  - [x] feature request

### Background info

The title explains it all. I cannot see any function in the SDK to retrieve group members from Okta but also users and groups assigned to an app.

### SDK Version

5.0.0

[2021-10-06 14:29] #654 closed

[2021-10-08 13:21] jeremieLyvoc commented on #651
Ok !

I didn't use the applicationBuilder but the Map to bypass this in the end.

[2021-10-08 13:31] jeremieLyvoc opened #657 "Issue while updating OIDC app"
### I'm submitting a
  - [x] bug report
  - [ ] feature request

### Background info

I am trying to update an OIDC app inside Okta using the SDK.

I have already created a post on the devforum but nothing so far : https://devforum.okta.com/t/see-json-object-sent-by-okta-sdk-java-on-update/16439

### Expected behavior

I'm creating an OIDC app then editing the returned object to add (with `.put()`

[2021-10-08 15:10] VitaliiTytarenko-okta commented on #657
Hi @jeremieLyvoc,
I'm here to help.
I will investigate this issue and get back to you with details shortly.

[2021-10-17 23:01] VitaliiTytarenko-okta commented on #657
Can't reproduce it.
Your payload works well. App updates successfully. No exceptions.
There are few restrictions: **do not update** _application ID_, _"client_id"_ and _"application_type"_.
Check the `credentials.userNameTemplate.template` value very carefully. It is very likely that your "not well-formed" error might have been caused by an invalid template.
If you still see this error then check

[2021-10-17 23:01] #657 closed, assigned to VitaliiTytarenko-okta

[2021-10-26 11:10] ankitrajsingh opened #666 "Support for setting PostLogoutRedirectUris in OIDCApplicationBuilder"
Hi, Our use-case is to create an OIDC application with the support for post logout redirect URIs field but the currently the OIDC app builder don't support setting this field. We would like to have a function exposed from the builder class in order to set it and create OIDC app.

https://github.com/okta/okta-sdk-java/blob/bd0200f01140a395934e1cb1b25e804653168237/api/src/main/java/com/okta/sdk/reso

[2021-10-27 13:00] #666 closed, assigned to VitaliiTytarenko-okta

[2021-11-13 22:39] garantir-km opened #669 "Support client credentials flow with shared secret"
:information_source: **If you have a question**, please post it on the [Okta Developer Forum](https://devforum.okta.com) instead. Issues in this repository are reserved for bug reports and feature requests only.

### I'm submitting a
  - [x ] bug report
  - [ ] feature request

### Background info
I am attempting to construct a Client using the client credentials flow but I am getting an invalid t

[2021-11-15 09:26] sergiishamrai-okta commented on #669
Hi @garantir-km,
Thanks for your question. I'll check this and back to you soon.

[2021-11-15 14:18] arvindkrishnakumar-okta commented on #669
Internal Ref: OKTA-446500

[2021-11-16 22:13] garantir-km commented on #669
I modified the code as shown below but still am running into issues. It looks as though the code only supports the client credentials flow using a private key, but not using a shared secret. Does that sound correct?

[code]

This errors out with a NPE as it tries to read a private key to sign a JWT with.

Exception in thread "main" java.lang.NullPointerException
	at com.okta.sdk.impl.util.ConfigUt

[2021-11-17 05:29] garantir-km commented on #669
Understood. Is there any plan to support client credentials flow with shared secret anytime soon? We have a customer that wants to use Okta's Universal Directory but support for this is required in order to move forward.

[2021-11-19 19:48] arvindkrishnakumar-okta commented on #669
This is something I do not have an answer and I'll need to check with internal team.

[2021-12-30 18:16] krestivo-kdinfotech opened #687 "Invalid cookie header"
### I'm submitting a
  - [x] bug report
  - [ ] feature request

### Background info

[code]

### Expected behavior

It should have authenticated

### What went wrong?

See above

### Steps to reproduce

[code]

This looks like a bug in the httpclient library. It may be a simple matter of upgrading.

### SDK Version

3.0.0

[2021-12-30 18:18] krestivo-kdinfotech commented on #687
https://stackoverflow.com/questions/36473478/fixing-httpclient-warning-invalid-expires-attribute-using-fluent-api related maybe

[2021-12-30 18:31] krestivo-kdinfotech commented on #687
And it looks like 5ba91fc737243a308c48e252531e046753af4b79 should have fixed this

[2021-12-30 19:41] sergiishamrai-okta commented on #687
Hi @krestivo-kdinfotech,
Thank you for your question, I'll try to reproduce this and get back to you soon.

[2021-12-30 19:45] sergiishamrai-okta commented on #687
Internal ref: [OKTA-456883](https://oktainc.atlassian.net/browse/OKTA-456883)

[2021-12-30 21:29] krestivo-kdinfotech commented on #687
This may be my error with jar vs class path. I will check again

[2021-12-30 22:35] krestivo-kdinfotech commented on #687
It was my error; closing.  When running awscli or okta-listroles, no problem, since it uses the httpclient from the uberjar release.

However, I am still seeing this:

[code]

But I suspect this is unrelated

[2021-12-30 22:35] #687 closed

[2021-12-31 02:46] bdemers commented on #687
@krestivo-kdinfotech It looks like you have the wrong repo, if you are still running into this issue, please open an issue in: https://github.com/oktadev/okta-aws-cli-assume-role/

Thanks!

[2022-01-06 13:58] jeremieLyvoc opened #688 "Maven package cannot update from 5.x.x to 6.x.x"
### Describe the bug?

Hi,

I'm trying to update from 5.x.x to last version, but I tried first to upgrade to 6.x.x.

When updating the 3 dependencies to this version I cannot build/compile anymore inside IntelliJ, I'm getting the following error :
`java: package com.okta.sdk.client does not exist`

As you can see on the following screenshot, it does exist when going to the external librairies :
![

[2022-01-06 15:53] bdemers commented on #688
Does the project compile on the command line outside of IntelliJ?

I ❤️ IntelliJ, but at some point in the past I noticed the auto-updating of Maven projects didn't work reliably for me, so I'm now in the habit of "reimporting/refreshing" the Maven project.

For this report, let's remove the IntelliJ/IDE from the equation and just focus on the Maven build.

Keep us posted!

[2022-01-06 16:00] jeremieLyvoc commented on #688
`mvn package` commands works so it seems indeed that the error comes from IntelliJ itself...

[2022-01-06 16:11] bdemers commented on #688
Thanks for following up @jeremieLyvoc!

I'd suggest following up with JetBrains, feel free to link the issue back here if you do!

[2022-01-06 16:11] jeremieLyvoc commented on #688
Sure thing, thanks !

[2022-01-06 16:11] #688 closed

[2022-01-19 12:36] arvindkrishnakumar-okta commented on #610
Closing this in favor of https://github.com/okta/openapi/issues/265.

This will be fixed in the Open API spec release v3.

[2022-01-19 12:36] #610 closed

[2022-02-09 14:57] P1ll3P4ll3 opened #694 "Invalid certification path - Use own keystore"
### Describe the bug?

We are getting an exception about an invalid certification path trying to connect to our Okta URL via the Okta Java SDK.
PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

How is it possible to set a TrustManager/SSLContext at the Client or ClientBuilder with own CA certificates?

[2022-02-09 15:48] bdemers commented on #694
Thanks for reaching out @P1ll3P4ll3!

Can you include the full stacktrace and the output from `java -version`

Are you using an older version of Java 1.8 that doesn't have updated root certificates?

[2022-02-09 16:03] P1ll3P4ll3 commented on #694
It is just about that an option/method is missing on how to set a custom SSLContext with own TrustManagers/Keystores. I could not find anything like that. It is possible to add these CA´s to the local keystore of the JDK, then it works, but in the environment we are using it this is not an option and not possible. We have to use our own CA keystore.

2022 02 09 13:40:06#+00#ERROR#com.okta.sdk.impl

[2022-02-09 16:58] P1ll3P4ll3 commented on #694
This is not about adding a certificate to the keystore or using the standard keystore. It must be possible to set an own keystore via SSLContext because in the cloud environment we are not able/allowed to add other certificates to the keystore. The application is executed in a cloud environment. We have no permission to the keystore used there.
So as already said this is not about the local develo

[2022-02-09 17:10] bdemers commented on #694
We do not expose the SSL Context directly, but one option is to set the keystore programmatically, with a system property:
(at runtime you can call `System.setProperty("javax.net.ssl.keyStore")`
https://docs.oracle.com/javadb/10.8.3.0/adminguide/cadminsslclient.html

[2022-02-10 09:15] P1ll3P4ll3 commented on #694
This is as well not an option. We must be able to set our own keystore/TrustManager. Otherwise we cannot use the API. It should be possible to somehow inject another TrustManager or KeyStore.

[2022-02-10 15:08] bdemers commented on #694
You can implement your own [`RequestExecutor`](https://github.com/okta/okta-commons-java/blob/master/http/http-api/src/main/java/com/okta/commons/http/RequestExecutor.java)

Take a look at our HttpClient implementation: https://github.com/okta/okta-commons-java/tree/master/http/httpclient/src/main/java/com/okta/commons/http/httpclient
Or the OK HTTP one: https://github.com/okta/okta-commons-java/t

[2022-02-10 15:24] jeremieLyvoc opened #696 "getApplication("ID") does not work when application is disabled"
### Describe the bug?

Hi,

I have encountered an issue using the `getApplication()` function to get an app data but getting it by its ID doesn't seems to work when the application is disabled (INACTIVE).

 `Application app = okta.getApplication(appId);` --> This throws a HTTP 404, Okta E0000007 error.

The application does exist and match the ID searched, I double checked with API using Postman a

[2022-02-10 16:05] arvindkrishnakumar-okta commented on #696
@jeremieLyvoc Thanks for raising this! We will investigate this further.

[2022-02-21 19:27] P1ll3P4ll3 commented on #694
Thank you for your proposal and sorry for the late reply. This doesn´t help either.

I just had a look at those two classes you mentioned above. In our case we would have to rebuild all the classes of the Okta implementation of HttpClientRequestExecutor or OkHttpRequestExecutor to be able to get access to the client builder and to set the SslContextFactory. This means copy & paste all the classes

[2022-02-22 15:09] bdemers commented on #694
Another potential workaround is to use the `OkHttpRequestExecutorFactory` directly, similar to what you described above.
https://github.com/okta/okta-commons-java/blob/master/http/okhttp/src/main/java/com/okta/commons/http/okhttp/OkHttpRequestExecutorFactory.java#L47

Something like:

[code]

https://github.com/okta/okta-sdk-java/blob/master/api/src/main/java/com/okta/sdk/client/ClientBuilder.java

[2022-02-22 17:20] P1ll3P4ll3 commented on #694
The JVM is not outdated. We are running in an environment where we are not able to set the certificates or update the default keystore.
In general: There are a lot of other use cases that require the use of an own keystore e.g. with custom/internal CA certificates only.

I just checked your last proposal. This is not an option as well because we would have to create our own OkHttpClient. The origi

[2022-02-22 17:43] JayNewstrom commented on #694
@P1ll3P4ll3 using `OkHttpClient` is here: https://github.com/okta/okta-commons-java/blob/master/http/okhttp/src/main/java/com/okta/commons/http/okhttp/OkHttpRequestExecutor.java (note this is in java)

Feel free to copy into your project, and modify to your needs.

You can see how to add `SslSocketFactory` here: https://square.github.io/okhttp/4.x/okhttp/okhttp3/-ok-http-client/-builder/ssl-socket

[2022-02-22 18:19] JayNewstrom commented on #694
Actually, you don't even need to copy our source into your project. It's just a matter of creating the OkHttpClient and passing it to the Okta builder like Brian mentioned.
Here's the complete code you need, other than the `TrustManager` and `SSLSocketFactory`, which you've already posted above.

[code]

[2022-02-24 09:28] dziedrius commented on #578
As others mentioned, getting exception/seeing in dashboard is too late already.
We have background jobs, syncing information from time to time and they don't have same priority as user initiated requests, hence we would prefer background job sleep a bit until rate limit is recovered than kill rate completely so that users would start getting errors.
okta terraform provider seems to implement this

[2022-03-01 02:31] ssawchenko opened #707 "AuthenticationException localizedMessages do not adhere to Android device locale settings"
### Describe the bug?

I am using this SDK to implement a custom login experience on Android devices. I have noticed that the AuthenticationException's localizedMessage property does not seem to adhere to the device locale. This means that I cannot provide localized error messages to my French users when they, say, enter in an invalid MFA code. Our iOS developer that is building the iOS equivalent

[2022-03-01 21:53] ssawchenko commented on #707
Sorry, I got my repos mixed up. I have instead logged this issue here: https://github.com/okta/okta-auth-java/issues/137

[2022-03-01 21:53] #707 closed

[2022-03-03 14:40] P1ll3P4ll3 commented on #617
It seems that the support here links to files contained in modules not available with the default prerequisite dependencies for the Okta Java SDK.

We have the same problem and question on how to get the Okta API Calls isolated, e.g. via Mockito, returning User or UserList objects. To be able to create those objects directly, a client is needed.

[2022-03-04 17:58] jjeanj1 opened #709 "UserFactor does not give the flexibility to get a user's sms and phone number on record"
### Describe the feature request?

I'm trying to get the SMS or Email factor value for a user and I'm not able to find a method to pull the profile which contains the registered phone number.

User oktauser = client.getUser(username);
UserFactorList` factors = oktauser.listFactors();

//Listing MFA Factors available for the user
	for (UserFactor f : factors) {
	  System.out.println("SMS Factor Pho

[2022-03-04 18:55] arvindkrishnakumar-okta commented on #709
@jjeanj1 Thanks for posting!

Not sure if I understand what you desire to do here. Are you trying to pull the user profile information from the `UserFactor` object? Did you already read the documentation for `Factors` API [here](https://developer.okta.com/docs/reference/api/factors/#factor-operations) and trying to point out that some method is missing in the SDK? Please clarify!

[2022-03-04 19:33] jjeanj1 commented on #709
This

[2022-03-04 19:34] jjeanj1 commented on #709
Thanks for the input. This is working now as per your recommendation. Are there any plans to make this less ambiguous?

[2022-03-04 19:58] arvindkrishnakumar-okta commented on #709
@jjeanj1 can you detail more on what you think is ambiguous here?

[2022-03-04 20:40] jjeanj1 commented on #709
I was expecting that I would be able to get the phone number by doing:

User oktauser = client.getUser(username);
UserFactorList` factors = oktauser.listFactors();

//Listing MFA Factors available for the user
for (UserFactor f : factors) {
System.out.println("SMS Factor Phone: " + f.getProfile().getPhoneNumber()); //expected
}

The same way I'm able to get the FactorType
for (UserFactor f : facto

[2022-03-07 15:05] #709 closed

[2022-03-07 15:06] jjeanj1 commented on #709
Solution provided by @arvindkrishnakumar-okta is working.

[2022-03-07 15:19] jjeanj1 opened #711 "authenticationClient.authenticate() does not return locked_out status"
### Describe the bug?

Issue
When a user status is set to locked_out. The authenticationClient.authenticate() does not return the locked_out status.  The following account statuses are being returned:
MFA_ENROLL
MFA_CHALLENGE
MFA_REQUIRED
PASSWORD_EXPIRED

Note: There could be other statuses that are not being returned but I have not tested them yet.

	         AuthenticationRequest Authentication

[2022-03-07 15:46] arvindkrishnakumar-okta commented on #711
@jjeanj1 This issue does not belong here. Please open this issue in [okta-auth-java](https://github.com/okta/okta-auth-java) repo for help.

[2022-03-07 15:46] #711 closed

[2022-03-24 16:10] er1c opened #717 "UserBuilder.setBcryptPasswordHash(encryptedHash)"
### Describe the feature request?

The current method signature is: `UserBuilder setBcryptPasswordHash(String value, String salt, int workFactor);`

I would like: `UserBuilder setBcryptPasswordHash(String bcryptHash);`

This could be a simple regex helper: https://scastie.scala-lang.org/zmRzhIWYTuaXbeMQZ2q36w

### New or Affected Resource(s)

UserBuilder

### Provide a documentation link

_No resp

[2022-03-29 18:25] er1c opened #718 "Client.listUsers() doesn't include deactivated users by default."
### Describe the bug?

https://developer.okta.com/okta-sdk-java/development/apidocs/com/okta/sdk/client/Client.html#listUsers--

This is either a documentation issue, or a bug, but I was expecting a full list of users to sync against, regardless of the activation status.

### What is expected to happen?

List all users

### What is the actual behavior?

Lists only activated or staged users.

### R

[2022-03-29 18:27] bdemers opened #719 "UserBuilder missing setters for existing fields"
### Describe the feature request?

The `UserBuilder` is missing fields that have been added to `UserProfile`:
https://github.com/okta/okta-sdk-java/blob/master/api/src/main/java/com/okta/sdk/resource/user/UserBuilder.java

We should do a quick comparison and add all of the low hanging fruit:

https://developer.okta.com/okta-sdk-java/development/apidocs/com/okta/sdk/resource/user/UserProfile.html
L

[2022-03-29 18:29] er1c opened #720 "Javadoc has broken arguments for Client.listUsers(...)"
### Describe the bug?

https://developer.okta.com/okta-sdk-java/development/apidocs/com/okta/sdk/client/Client.html#listUsers-java.lang.String-java.lang.String-java.lang.String-java.lang.String-java.lang.String-

<img width="947" alt="image" src="https://user-images.githubusercontent.com/64685/160680518-caa63800-78b6-4b8d-bc00-95af3ea5d618.png">

### What is expected to happen?

Expected params

#

[2022-03-29 18:38] laura-rodriguez commented on #718
Thanks for reporting this issue @er1c ! Someone from our team will review it soon.

[2022-03-29 18:39] laura-rodriguez commented on #719
Thanks for reporting this, @bdemers! We'll review it internally and prioritize accordingly.

[2022-03-29 18:40] laura-rodriguez commented on #720
Thanks for reporting this @er1c. Someone from our team will review it soon.

[2022-03-29 18:43] er1c commented on #719
I ran into this while trying to have sync code, the `create user` code looks a lot different than the `update user` code

[2022-03-29 18:49] bdemers commented on #718
@er1c I found the relevant doc on the API itself: https://developer.okta.com/docs/reference/api/users/#list-all-users
By default, it lists all non `DEPROVISIONED` users.

Listing all users can be achieved by setting `search` to `status pr`.

This note should be added to the relevant javadoc (and API spec) for the `listUsers()` method

[2022-03-29 19:08] er1c opened #721 "Can't update user profile if status is set to DEPROVISIONED"
### Describe the bug?

Reference: https://gist.github.com/er1c/cc8af49bcb67bd57af8565b6c5ff5345

### What is expected to happen?

I would expect to be able and keep even de-activated users in sync.

### What is the actual behavior?

[code]

### Reproduction Steps?

See description

### Additional Information?

This happens on  both `oktaUser.deactivate(false)` and `oktaUser.update()` if the user s

[2022-03-29 19:40] arvindkrishnakumar-okta commented on #721
Thanks for your post!

Can you list the sequence of API calls you’re making?

[2022-03-29 19:52] arvindkrishnakumar-okta commented on #721
I believe the update of user profile can only be done if the user is in provisioned state. I would double check/verify this with the backend API teams soon. In any case, I need to understand why you get a 404/Resource Not Found error. Can you list down the sequence of API steps for me to reproduce this?

[2022-03-29 20:01] er1c commented on #721
@arvindkrishnakumar-okta it's in the gist

[2022-03-29 20:44] arvindkrishnakumar-okta commented on #718
@er1c I believe this can be closed, please reopen if you need further followup.

[2022-03-29 20:49] er1c commented on #718
@arvindkrishnakumar-okta perhaps rename this to a documentation enhancement?

[2022-03-29 22:04] arvindkrishnakumar-okta commented on #721
Update: The 404/Resource Not Found error you get while trying to update user profile of a deactivated user (API status "Deprovisioned") is expected and by design.

[2022-03-29 22:04] #721 closed

[2022-03-30 02:36] arvindkrishnakumar-okta commented on #720
Internal Ref: OKTA-484469

[2022-03-30 02:39] arvindkrishnakumar-okta commented on #719
Internal Ref: OKTA-484470

[2022-03-30 02:41] arvindkrishnakumar-okta commented on #718
Internal Ref: OKTA-484471

[2022-03-30 15:54] arvindkrishnakumar-okta commented on #720
Note: All the parameters are rendered actually (look at the right corner of the below screenshot):

![image](https://user-images.githubusercontent.com/61501885/160877845-578e0d93-5345-48df-aa20-0d3e3190d1cd.png)

Indentation needs to be fixed though.

[2022-03-31 05:27] sandeep-yb opened #726 "Unable to get/set custom user attributes using Okta Java sdk"
### Describe the bug?

Hi,
I am trying to set some custom attributes for a user using java sdk.
This is how i use it in user creation step.
[code]

The above code works as expected.
The issue is that i am unable to set custom attributes for an already existing okta user.
Looking at this [solution](https://github.com/okta/okta-sdk-java/issues/49), i did something like:
[code]

This throws the follo

[2022-03-31 07:19] sandeep-yb commented on #726
Looks like getUnmapped() is not supported.
Found the new way [here](https://github.com/okta/okta-sdk-java#get-and-set-custom-attributes)

[2022-03-31 07:19] #726 closed

[2022-05-03 16:22] er1c commented on #721
I wouldn't call this "by design" but maybe "bad design"?  Equally bad experience in the Okta UX:

![image](https://user-images.githubusercontent.com/64685/166494314-fab53982-bd9c-4924-9c3b-6915c6383218.png)

[2022-05-03 17:51] arvindkrishnakumar-okta commented on #721
@er1c Thanks for the report on the UX.

Request you to reach out to support@okta.com with this feedback.

[2022-05-03 20:45] er1c opened #733 "First class deleteUser Client method."
### Describe the feature request?

I would like a first class api call to make this request using the SDK (e.g. client.deleteUser(..., ...)

### New or Affected Resource(s)

https://developer.okta.com/okta-sdk-java/development/apidocs/com/okta/sdk/client/Client.html

### Provide a documentation link

https://developer.okta.com/docs/reference/api/users/#delete-user

### Additional Information?

_No

[2022-05-03 21:08] arvindkrishnakumar-okta commented on #733
@er1c Thanks for posting!

Due to the way we presently generate the models from Open API Spec v2, we generate the `deleteUser` operation on the `User` model object itself and not on the `Client` object.

You should be able to invoke the `delete` API on `User` object - see https://github.com/okta/okta-sdk-java/blob/master/integration-tests/src/test/groovy/com/okta/sdk/tests/it/UsersIT.groovy#L557

[2022-05-06 18:44] er1c opened #735 "OAuth2 Docs on pem JWK => PEM"
### Describe the feature request?

For the docs section it took me longer than it should have to figure out the generation of the `.pem` file this could probably be pretty easy to better explain getting the oauth2 JWK/npm program and generating the .pem file.  Or at least make a more explicit note about following the explicit directions at https://developer.okta.com/docs/guides/implement-oauth-for

[2022-05-06 19:10] arvindkrishnakumar-okta commented on #735
@er1c Thanks for the feedback!

We will get the README updated.

[2022-05-06 20:46] #735 closed

[2022-06-17 08:37] patrick-m-m opened #739 "Add ability to set x-forwarded-for header without using .http() "other requests" method"
### Describe the feature request?

We have a java service that is acting as middleware between our web & mobile clients and the Okta APIs for user data. We are interested in setting the x-forwarded-for header for several API calls that use SSWS authentication through the Java SDK. Example operations our user complete through this middleware API are: viewing profile data; changing password and/or e

[2022-06-17 14:00] arvindkrishnakumar-okta commented on #739
@patrick-m-m Thanks for the post!

We will address this in our upcoming work plan.

[2022-06-28 19:29] er1c opened #740 "ClientBuilder - order of setters matters"
### Describe the bug?

This works:

[code]

This doesn't:

[code]

The "scopes" gets set to an empty set in the former.

### What is expected to happen?

It should work regardless of order.

### What is the actual behavior?

It is order-sensitive.

### Reproduction Steps?

See above

### Additional Information?

_No response_

### Java Version

openjdk version "11.0.15" 2022-04-19 LTS

### SDK Ver

[2022-06-28 20:23] er1c commented on #740
https://github.com/okta/okta-sdk-java/blob/447440a81691e74157610ceeeffadd010d75f91b/impl/src/main/java/com/okta/sdk/impl/client/DefaultClientBuilder.java#L430 This is where the authorization mode is required to be set, before the scopes setter will "work"

[2022-06-28 20:39] er1c commented on #740
@JayNewstrom yeah same bad guard pattern for other setters, so just fixed them all.

[2022-06-29 16:51] UgoReyne opened #742 "Implement a way to invoke `PATCH` REST API call"
### Describe the feature request?

The need is to make a custom patch api request.
Is it possible ?

Thank you

### New or Affected Resource(s)

The Custom Admin Roles ressources, like:
Adding more Members to a Binding
PATCH
/api/v1/iam/resource-sets/${resourceSetId}/bindings/${roleIdOrLabel}/members

### Provide a documentation link

_No response_

### Additional Information?

_No response_

[2022-06-29 20:15] arvindkrishnakumar-okta commented on #742
@UgoReyne Thanks for posting!

AFAIK, Okta does not expose any public API like the one you mentioned above.

Please let me know if I am missing something.

[2022-06-29 21:22] #740 closed

[2022-06-29 21:51] arvindkrishnakumar-okta commented on #740
Thanks much for the PR @er1c 👍🏽

[2022-06-30 08:04] UgoReyne commented on #742
Thank you for your reply !
It is the API to add members to a binding (https://developer.okta.com/docs/reference/api/roles/#add-more-members-to-a-binding), an API patch method used here. Do you have any idea on how I can make this call ?

[2022-07-19 15:25] bsekar opened #743 "Support for `limit` query parameter with the `listApplications` API"
:information_source: **If you have a question**, please post it on the [Okta Developer Forum](https://devforum.okta.com) instead. Issues in this repository are reserved for bug reports and feature requests only.

### I'm submitting a
  - [X] feature request

### Background info

Consider an org with 2000 apps. When calling `client.listApplications` without the ability to set `limit`, the API defau

[2022-07-19 15:45] arvindkrishnakumar-okta commented on #743
@bsekar Thanks for posting! This will be addressed in the upcoming release.

[2022-07-21 20:22] jefftaylor-okta commented on #743
Hello @bsekar! Thanks for the inquiry. We are looking to beta this feature in early August. This will be included with some other enhancements we have been working on.

[2022-07-29 12:14] dspasojevic opened #746 "Support for configuring Application Provisioning Integration"
### Describe the feature request?

Allows the SDK to be used to configuration the SCIM integration to be used for application provisioning.

### New or Affected Resource(s)

Application

### Provide a documentation link

https://help.okta.com/en-us/Content/Topics/Apps/Apps_App_Integration_Wizard_SCIM.htm
https://developer.okta.com/docs/reference/scim/

### Additional Information?

This is particul

[2022-07-29 13:57] laura-rodriguez commented on #746
Hi @dspasojevic,

Thanks for reporting this. Our team will review it soon and prioritize accordingly.

Internal Ref: OKTA-519228

[2022-08-02 13:28] ybudweiser commented on #575
I think it would be best to expose the underlining httpclient, so we can add our own instrumentation or integrate with micrometer and customize it

[2022-08-16 21:00] BobanL opened #750 "ListGroups - q and search providing different results"
### Describe the bug?

Using ListGroups the `q` parameter and `search` parameter are returning a different number of results even when they should both be searching on profile.name.

### What is expected to happen?

Using `q` parameter and `search` should provide the same results if using the "profile.name sw" criteria.

### What is the actual behavior?

`q` only provides 300 results, where the `s

[2022-08-16 23:46] arvindkrishnakumar-okta commented on #750
@BobanL Thanks for reporting! I'll look into this and post soon.

[2022-08-25 05:06] arvindkrishnakumar-okta commented on #750
@BobanL I tried to reproduce/test the above with this code snippet:

![image](https://user-images.githubusercontent.com/61501885/186578668-cb622429-d800-4d2c-859f-a261b35bcf6c.png)

This above test passed and works as expected.

First - when you list groups with query `q`, the result size is limited to `300` by design - refer doc [here](https://developer.okta.com/docs/reference/api/groups/#find-gr

[2022-08-30 12:53] bcoquard opened #754 "Redis Spring Cache usage in SDK"
### Describe the feature request?

Hello,

In the documentation you can find this :

How are we supposed to do that when using Spring Boot AND Redis ?
My point is that I run 3 differents Java apps, running on containers which can scale.
I want those containers to share a same Redis Cache.

To do that I am guessing that I need to "extends" the DefaultCache implemented by Okta and override the metho

[2022-08-30 14:09] bdemers commented on #754
Hello @bcoquard

For Spring Boot support, see: https://github.com/okta/okta-sdk-java#inject-the-okta-java-sdk-in-spring

You won't need to configure anything manually, just set the config properties and then inject the `Client`.
Spring Cache will be used automatically (as long as an implementation is on your classpath).

It looks like we should add a note in our READMEs though, we can keep this is

[2022-08-31 11:23] oussamalahlou commented on #754
Hello @bdemers,

In the same context, I realized that the okta spring cache uses a default cache strategy.

Do you have any idea on how to implement a custom cache strategy?

Thanks in advance.

[2022-08-31 14:26] bdemers commented on #754
@oussamalahlou is there something specific you are trying to do?

[2022-08-31 14:42] oussamalahlou commented on #754
@bdemers

I am trying to use Springboot and Redis for caching Rest calls to okta API.

I did some tests and realized that it relies on hrefs from backend responses for caching calls to okta API which is not comfortable for my needs.

I would like to know if there is a way to change the default cache strategy to create a custom strategy?

Thanks.

[2022-08-31 14:51] bdemers commented on #754
@oussamalahlou can you tell me a little more about what your strategy would be? Maybe I can point you in the right direction?

[2022-09-01 10:30] oussamalahlou commented on #754
@bdemers ,

Using the DefaultResourceCacheStrategy class, I see that the cache strategy is based on the response hrefs of the okta backend apis which is not comfortable for my project, how can we create our custom strategy?

Also, for example, when I call the following okta web service: /api/v1/users/{userId} knowing that userId = login,
i find in the key cache the userId passed as a query paramet

[2022-09-01 14:36] bdemers commented on #754
Ahh, I think I see what you are getting at.
Users are a special case where you can look them up by login/email or by id.
There is a related issue for this: #265
IIRC the plan was to add two cache keys for those objects (one based on the id, and the other based on the login/email)
Possibly having the login/email based cached be some sort of object that points to the canonical id-based entry.

There

[2022-09-02 10:08] oussamalahlou commented on #754
It's clear, thank you @bdemers

[2022-09-09 20:40] sgadde25 opened #756 "No way to set the `limit` on `getLogs`"
### Describe the bug?

It looks like there is no way to set the limit on the method getLogs in the Java SDK. By default the limit is set to 100. To avoid making multiple calls, we need the ability to set the limit to 1000. This is available in the APIs but not SDK.
SDK link: https://developer.okta.com/okta-sdk-java/apidocs/com/okta/sdk/resource/log/class-use/LogEventList.html

### What is expected

[2022-09-14 15:39] arvindkrishnakumar-okta commented on #756
Thanks for reporting this.

We will get this fixed in upcoming release. Stay tuned!

[2022-10-21 12:41] #750 closed

[2022-10-31 17:11] arvindkrishnakumar-okta commented on #756
Update: We now have support for this in the latest version of the Java Management SDK (10.0.0).

Please follow these [steps](https://github.com/okta/okta-sdk-java/blob/master/MIGRATING.md#migrating-from-8xx-to-10xx) to take advantage of the latest features. Please let me know if you have any issues. Thanks!

[2022-10-31 17:11] #756 closed

[2022-10-31 17:16] arvindkrishnakumar-okta commented on #743
Update: We now have support for `limit` query param in the latest version of the Java Management SDK (10.0.0).

Please follow these [steps](https://github.com/okta/okta-sdk-java/blob/master/MIGRATING.md#migrating-from-8xx-to-10xx) to take advantage of the latest features.

Please let me know if you have any issues. Thanks!

[2022-10-31 17:16] #743 closed

[2022-11-04 16:25] #718 closed

[2022-11-04 16:29] arvindkrishnakumar-okta commented on #742
Update: It should be possible to invoke `PATCH` similar to other HTTP methods like it is described in https://github.com/okta/okta-sdk-java#call-other-api-endpoints.

Closing this issue, but feel free to comment if you have any questions.

[2022-11-04 16:29] #742 closed

[2022-11-04 18:21] arvindkrishnakumar-okta commented on #720
This has been fixed in the [Javadoc](https://developer.okta.com/okta-sdk-java/development/apidocs/org/openapitools/client/api/UserApi.html#listUsers-java.lang.String-java.lang.String-java.lang.Integer-java.lang.String-java.lang.String-java.lang.String-java.lang.String-) of latest 10.0.0 release.

[2022-11-04 18:21] #720 closed

[2022-11-04 18:24] arvindkrishnakumar-okta commented on #733
Update: With the latest 10.0.0 release, we've fixed this.

Ref: https://github.com/okta/okta-sdk-java/blob/master/examples/quickstart/src/main/java/quickstart/Quickstart.java#L118

[2022-11-04 18:24] #733 closed

[2022-11-09 17:38] #233 closed

[2022-11-09 17:39] arvindkrishnakumar-okta commented on #233
Closing this due to inactivity, feel free to reopen if needed.

[2022-11-23 21:17] StevenMaMei opened #783 "UserBuilder can't create custom attributes SDK 10.0.0"
### Describe the bug?

In the SDK 8.x.x you could use .setProfileProperties(...) to insert custom attributes created as part of the profile. However, with this SDK there is no way to specify custom attributes/properties using UserBuilder. If you want to specify these custom properties, then you should create directly the CreateUserRequest

### What is expected to happen?

I expect to have a way to

[2022-11-30 00:41] regina-venable-wex opened #784 "Unable to create a PasswordPolicy with SDK version 10.0.0"
### Describe the bug?

When using the PasswordPolicyBuilder to create a new PasswordPolicy, it fails with the message: "PolicyType should be 'PASSWORD', please use PolicyBuilder for other policy types".

The DefaultPasswordPolicyBuilder class has a bug on line 244 where it compares a PolicyType object to a String "PASSWORD" with an equals(). This will always return false - and throw the exception.